.mainContent {
    margin-top: 10px;
}

.map {
    width: 450px;
    height: 500px;
}

.data-box {
    padding: 3px;
    overflow: auto;
    width: 450px;
    height: 500px;
}

.divAdded {
    cursor: pointer;
    border: 2px solid grey;
    border-radius: 6px;
    margin: 0 0 7px 0;
    padding: 4px;

}

.mapAndList {
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
    border: 5px solid lightseagreen;
    border-radius: 45px;
    padding: 15px 10px 10px 10px;
    color: gray;

}

.nameTextGeo {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    border: 5px solid lightseagreen;
    border-radius: 45px;
    padding: 10px;
    color: gray;
    margin: 15px;
}

.borderFormDesign {
    display: flex;
    justify-content: center;
    border: 5px solid lightseagreen;
    border-radius: 45px;
    padding: 15px 10px 10px 10px;
    color: gray;
}

.btn-primary {
    color: #fff;
    background-color: grey;
    border-color: lightseagreen;
}

.btn-primary:hover {
    color: #fff;
    background-color: lightseagreen;
    border-color: grey;
}

.mapWrapperDesign {
    display: flex;
    justify-content: space-between;
    border: 19px solid grey;
    border-radius: 20px;
    padding: 0 0 0 0;
    color: grey;
    margin: 0;
}

.listWrapperDesign {
    display: flex;
    justify-content: space-between;
    border: 19px solid grey;
    border-radius: 20px;
    padding: 0 0 0 0;
    color: grey;
    margin: 0;
}